*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color:  hsl(0, 0%, 95%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  width: 100%;
  max-width: 100%;
}
.card{
  width: 750px;
  height: 400px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  border-radius: 11px;
  border: none;
  
}
.box1{
  width: 250px;
  height: 400px;
  background-color:  hsl(31, 77%, 52%);
  padding: 30px 15px 30px 40px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
}
.info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box1 img,
.box2 img,
.box3 img{
  width: 65px;
  height: 40px;
}
.box1 .title,
.box2 .title,
.box3 .title{
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
}
.box1 .paragraph,
.box2 .paragraph, 
.box3 .paragraph 
{
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}
.box1 button{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 50px;
  color:  hsl(31, 77%, 52%);
  font-weight: 500;
  
}

.box2{
  width: 250px;
  height: 400px;
  background-color:  hsl(184, 100%, 22%);
  padding: 30px;
  padding: 30px 15px 30px 40px;
}
.box2 button{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 50px;
  color:  hsl(184, 100%, 22%);
  font-weight: 500;
  
}
.box3{
  width: 250px;
  height: 400px;
  background-color:  hsl(179, 100%, 13%);
  padding: 30px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  padding: 30px 10px 30px 40px;
}
.box3 button{
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 50px;
  color:  hsl(179, 100%, 13%);
  font-weight: 500;
  
}
button:hover{
  background-color: transparent;
  color:  hsl(0, 0%, 95%);
  border:1px solid hsl(0, 0%, 95%) ;
  transition: 0.5s;
}

/* font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
@media only screen and (max-width: 550px) {

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin:2rem ;
    
  }
  .card{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 400px;
  }
.box1{
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 0px;
  padding: 30px 15px 30px 25px;
}
.box2{
  padding: 30px 15px 30px 25px;
}
.box3{
  border-top-left-radius: 0px; 
  border-top-right-radius: 0px; 
  border-bottom-right-radius: 11px; 
  border-bottom-left-radius: 11px; 
  padding: 30px 15px 30px 25px;
}

}