body{
  background-color: whitesmoke;
}

.bigcard{
  height: 500px;
  width: 760px;
  background-color: white;
  margin:  auto;
  margin-top: 80px;
  border-radius:4ch;
  box-shadow: 0px 0px 20px 0px rgba(247, 228, 228, 0.842);
  
}

.firstcard{
  height: 500px;
  width: 385px;
  /* background-color: rgb(87, 20, 211); */
  background: linear-gradient( rgb(88, 27, 230),rgb(80, 1, 184));   
    /* background: linear-gradient(to bottom, #581be6,#c20fb9);    */
  border-radius:4ch;
  position: absolute;
}
.firstcard h1{
  font-size: 25px;
  position: relative;
  top: 35px;
  text-align: center;
  color: rgb(182, 183, 184);
}
.circle{
  height: 180px;
  width: 180px;
  /* background-color:rgb(90, 9, 240); */
  background: linear-gradient(rgb(140, 1, 253),rgb(70, 8, 241));   
  float: right;
  border-radius: 100%;
  position: relative;
  top: 70px;
  right: 95px;

}
.firstcard h2{
  font-size: 60px;
  position: relative;
  top: 35px;
  text-align: center;
  color: aliceblue;
}
.firstcard h3{
  font-size: 20px;
  position: relative;
  top: 35px;
  text-align: center;
  color: aliceblue;
}
.firstcard h4{
  font-size: 30px;
  position: relative;
  top: 280px;
  left: 90px;
  text-align: center;
  color: aliceblue;
  margin-bottom: 15px;
}
.firstcard>p{
  font-size: medium;
  font-weight: 500;
  position: relative;
  top: 280px;
  left: 90px;
  text-align: center;
  color: rgb(192, 206, 218);
}
/* dfjjdfjdfijogfjgfijoi */
/* .secondcard>h1{
  font-size: 25px;
  position: relative;
  left: 100px;
  top: 50px;
  text-align: center;
} */
.bigcard>h1{
  font-size: 25px;
  position: relative;
  left: 100px;
  top: 50px;
  text-align: center;
}
.bigcard .row1{
  height: 60px;
  width: 300px;
  /* background-color: rgba(230, 78, 78 ); */
    background-color: rgba(255, 0, 0, 0.137);
  border-radius: 1ch;
  position: relative;
  left: 420px;
  top: 70px;
}
#reaction{
  /* height: 20px; */
  width: 25px;
  position: relative;
  left: 20px;
  top: 14px;
}
h4{
  font-size: 20px;
  position: relative;
  bottom: 12px;
  left: 60px;
  color: #F55;
}
h5{
  font-size: 20px;
  position: relative;
  bottom: 42px;
  left: 210px;
  color: rgba(0, 0, 0, 0.438);
  font-weight: bolder;
}
span{
  color: black;
}
.bigcard .row2{
  height: 60px;
  width: 300px;
  /* background-color: rgb(230, 78, 78); */
  background-color: rgba(251, 255, 4, 0.24);
  border-radius: 1ch;
  position: relative;
  left: 420px;
  top: 85px;
}
#memory{
    /* height: 20px; */
    width: 25px;
    position: relative;
    left: 20px;
    top: 14px;
}
#verbal{
      /* height: 20px; */
      width: 25px;
      position: relative;
      left: 20px;
      top: 14px;
}
#visual{
      /* height: 20px; */
      width: 25px;
      position: relative;
      left: 20px;
      top: 14px;
}
.row2 h4{
  color: rgb(231, 231, 18);
}
.row3 h4{
  color: rgb(27, 185, 27);
}
.row4 h4{
  color: blue;
}
.bigcard .row3{
  height: 60px;
  width: 300px;
  /* background-color: rgb(230, 78, 78); */
  background-color: rgba(36, 228, 62, 0.247);
  border-radius: 1ch;
  position: relative;
  left: 420px;
  top: 100px;
}
.bigcard .row4{
  height: 60px;
  width: 300px;
  /* background-color: rgb(230, 78, 78); */
  background-color: rgba(0, 60, 255, 0.199);
  border-radius: 1ch;
  position: relative;
  left: 420px;
  top: 115px;
}

button{
  position: relative;
  left: 420px;
  top: 150px;
  width: 300px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: rgb(33, 33, 105);
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}