:root {
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
nav .container .links ul{
    gap: 50px;
}
nav .container .links ul li {
  list-style: none;
}
nav .container .links ul li a {
  color: black;
  text-decoration: none;
  font-size: 17px;
}
.landing .container .left h1 {
  font-size: 38px;
  font-weight: 700;
  color: black;
}
.landing .container .left p {
  font-weight: 400;
  line-height: 1.2;
  color: var(--Desaturated-Blue);
}
.landing .container .left form input[type="email"] {
  flex-basis: 45%;
  padding: 5px 10px;
  caret-color: var(--Bright-Blue);
}
.landing .container .left form button {
  flex-basis: 30%;
  border: none;
  color: white;
  background-color: var(--Bright-Blue);
  border-radius: 4px;
  font-weight: 500;
  transition: 0.5s;
}
.landing .container .left form button:hover,
.before_footer .right form button:hover {
  background-color: white;
  color: var(--Bright-Blue);
  border: 1px solid var(--Bright-Blue);
}
/* ____________--- */
.for-image {
  background-image: url(../images/bg-curve-desktop.svg);
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.section_two {
  background-color: #f8f8fe;
}
.section_two .container .left h1 {
  font-size: 40px;
  padding-bottom: 20px;
  font-weight: 700;
  color: black;
}
.section_two .container .left > p {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2;
  width: 85%;
  color: var(--Desaturated-Blue);
}
.section_two .container .link {
  border-bottom: 1px solid var(--Moderate-Cyan);
  width: fit-content;
  margin: 20px 0 50px 0;
}
.section_two .container .link a {
  color: var(--Moderate-Cyan);
  text-decoration: none;
}
.section_two .container .card {
  position: relative;
  width: 70%;
  padding: 50px 25px 25px 25px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 10px hsla(0, 0%, 100%, 0.157);
}
.section_two .container .card p {
  color: black;
  font-weight: 500;
}
.section_two .container .card .quot {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 25px;
}
.section_two .container .card .person .icon {
  display: contents;
}
.section_two .container .card .person .icon img {
  border-radius: 50%;
  width: 17%;
}
.section_two .container .card .person .name_job h3 {
  font-size: 16px;
  color: black;
  margin-bottom: 1px;
}
.section_two .container .card .person .name_job p {
  font-size: 14px;
  color: var(--Desaturated-Blue);
}
.before_footer {
  background-color: var(--Desaturated-Blue);
}
.before_footer .left {
  color: white;
}
.before_footer .left h2 {
  font-size: 38px;
  font-weight: 500;
}
.before_footer .left p {
  font-size: 19px;
  font-weight: 300;
}
.before_footer .right form input {
  padding: 10px;
  border-radius: 4px;
  border: none;
}
.before_footer .right form button {
  padding: 8px;
  width: 40%;
  background-color: var(--Bright-Blue);
  border: 1px solid var(--Bright-Blue);
  color: white;
  border-radius: 4px;
  transition: 0.5s;
}
/* ____________________- */
footer {
  background-color: var(--Very-Dark-Blue);
}
footer .container .row ul {
  color: white;
  list-style: none;
}
footer .container .row ul li {
  padding: 5px 0;
}
footer .container .row .social i {
  border: 1px solid white;
  color: white;
  height: fit-content;
  border-radius: 50%;
  padding: 10px;
}
footer .row > div {
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .landing .container .row {
    flex-direction: column-reverse;
    gap: 25px;
    text-align: center;
  }
  .landing .container .row .left form {
    flex-direction: column;
  }
  .landing .container .row .left form button {
    padding: 8px 5px;
  }
  .for-image {
    background-image: url(../images/bg-curve-mobile.svg);
  }
  .section_two .row .left h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  .section_two .row .left > p {
    width: 100%;
    text-align: start;
  }
  .section_two .row .left .link {
    margin: 20px auto;
  }
  .section_two .row .left .card {
    width: 90%;
    margin: 0 auto;
  }
  .before_footer .row .left h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .before_footer .row .left p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 6%;
  }
  .before_footer .right form {
    width: 80%;
    margin: 5% auto;
  }
  .before_footer .right form button {
    width: 100%;
  }
  footer .row .col-sm-12 {
    justify-content: start;
  }
  footer .row .social {
    justify-content: center;
  }
}
@media only screen and (max-width:540px){
    nav .logo img{
        width: 80px;
    }
    nav .container .links ul{
        gap: 20px;
    }
      nav .container .links ul li a {
        font-size: 12px;
      }
      .landing .container .left h1 {
        font-size: 1.5rem;
      }
      .landing .container .left p {
        font-size: 0.9rem;
      }
}
